#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


case "$1" in
    build)
        ;;

    package)
        ;;

    install)
        systemctl restart fail2ban
        ;;

    uninstall)
        systemctl restart fail2ban
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
